.container {
   max-width: 72rem;
   padding: 0 1rem;
   margin: 3rem auto 6rem;
 }
 
 .header {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .backToHome {
   margin: 3rem 0 0;
 }

 /* .pre { 
   white-space: pre-wrap !important;
   background: black !important;
   color: white !important;
   padding: 20px !important;
 } */

