.heading2Xl {
   font-size: 2.5rem;
   line-height: 1.2;
   font-weight: 800;
   letter-spacing: -0.05rem;
   margin: 1rem 0;
 }
 
 .headingXl {
   font-size: 2rem;
   line-height: 1.3;
   font-weight: 800;
   letter-spacing: -0.05rem;
   margin: 1rem 0;
 }
 
 .headingLg {
   font-size: 1.5rem;
   line-height: 1.4;
   margin: 1rem 0;
 }
 
 .headingMd {
   font-size: 1.2rem;
   line-height: 1.5;
 }
 
 .borderCircle {
   border-radius: 9999px;
 }
 
 .colorInherit {
   color: inherit;
 }
 
 .padding1px {
   padding-top: 1px;
 }
 
 .list {
   /* list-style: none; */
   font-size: 0.9rem;
   padding: 0px 0px 0px 20px;
   margin: 0;
 }
 
.linkStyle {
  /* border-bottom: 1px solid #b1b1b1; */
  text-decoration: none;
  color: #333333;
}

 .listItem {
   margin: 0 0 1.25rem;
 }
 
 .lightText {
   color: #666;
 }

 .javascript {
  background-color: yellow;
  border-radius: 100px;
  padding: 2px 8px;
}

 .default {
   background-color: rgba(242, 242, 242, 1);
   border-radius: 100px;
   padding: 2px 8px;
 }